<h1>Burger App</h1>

<h2>Add Burger</h2>
<form>
    <input id ="name-input" placeholder ="name"></input>
    <button id="submit-button">Submit</button>
</form>

<h3>Burgers<h3>
<li id="burger_list">
</li>