<div class="row">
    <div class="col-12">
        <h1 class="text-center">Burger App</h1>

        <div class="row">
            <div class="col-6">
                <ul id="left-list" class="burger_list">
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>

            <div class="col-6">
                <ul class="burger_list">
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>

        <form class="text-center">
            <input id="name-input" placeholder="name"></input>
            <button id="submit-button">Submit</button>
        </form>

        <p class="text-center">Enter burger you want to eat</p>
    </div>
</div>